@font-face {
    font-family: 'MintTypeRistrettoSlabProRegular';
    src: url('assets/fonts/MintTypeRistrettoSlabProRegular.eot');
    src: url('assets/fonts/MintTypeRistrettoSlabProRegular.eot') format('embedded-opentype'),
         url('assets/fonts/MintTypeRistrettoSlabProRegular.woff2') format('woff2'),
         url('assets/fonts/MintTypeRistrettoSlabProRegular.woff') format('woff'),
         url('assets/fonts/MintTypeRistrettoSlabProRegular.ttf') format('truetype'),
         url('assets/fonts/MintTypeRistrettoSlabProRegular.svg#MintTypeRistrettoSlabProRegular') format('svg');
}

@font-face {
    font-family: 'MintTypeRistrettoSlabProRegular';
    src: url('../fonts/MintTypeRistrettoSlabProRegular.eot');
    src: url('../fonts/MintTypeRistrettoSlabProRegular.eot') format('embedded-opentype'),
         url('../fonts/MintTypeRistrettoSlabProRegular.woff2') format('woff2'),
         url('../fonts/MintTypeRistrettoSlabProRegular.woff') format('woff'),
         url('../fonts/MintTypeRistrettoSlabProRegular.ttf') format('truetype'),
         url('../fonts/MintTypeRistrettoSlabProRegular.svg#MintTypeRistrettoSlabProRegular') format('svg');
}

@font-face {
    font-family: 'MyriadPro-Cond';
    src: url('../fonts/MyriadPro-Cond.eot');
    src: url('../fonts/MyriadPro-Cond.eot') format('embedded-opentype'),
        url('../fonts/MyriadPro-Cond.woff2') format('woff2'),
        url('../fonts/MyriadPro-Cond.woff') format('woff'),
        url('../fonts/MyriadPro-Cond.ttf') format('truetype'),
        url('../fonts/MyriadPro-Cond.svg#MyriadPro-Cond') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadPro-BoldCond';       
    src: url('../fonts/MyriadPro-BoldCond.eot');
    src: url('../fonts/MyriadPro-BoldCond.eot?#iefix') format('embedded-opentype'),
      url('../fonts/MyriadPro-BoldCond.woff2') format('woff2'),
      url('../fonts/MyriadPro-BoldCond.woff') format('woff'),
      url('../fonts/MyriadPro-BoldCond.ttf') format('truetype'),
      url('../fonts/MyriadPro-BoldCond.svg#MyriadPro-BoldCond') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* pt-sans-narrow-700 - latin */
@font-face {
  font-family: 'narrow-regular';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans Narrow'), local('PTSans-Narrow'),
       url('../fonts/narrow-fonts/PTSans-Narrow.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/narrow-fonts/PTSans-Narrow.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* pt-sans-narrow-regular - latin */
@font-face {
  font-family: 'narrow-bold';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Narrow Bold'), local('PTSans-NarrowBold'),
       url('../fonts/narrow-fonts/PTSans-NarrowBold.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/narrow-fonts/PTSans-NarrowBold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: local('Lobster'), local('Lobster'),
       url('../fonts/lobster/Lobster.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/lobster/Lobster.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
