a
    color #000
    &:link
        text-decoration none
    &:visited
        text-decoration none
    // &:hover
    //     text-decoration underline
    // &:active
    //     text-decoration underline