.stock-product
    margin-bottom 90px
    p
        margin: 20px 0;

.stock-product__image
    position relative

.stock-product__price
    position absolute
    left 40px
    top 40px
    bottom 55px
    font-size 73px
    width 360px
    font-family: 'Lobster', cursive;
    color #FFF
    &:before
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        content: '';

.stock-product__price_inner
    display: inline-block;
    vertical-align: middle;
    width: 300px;
    line-height: 1.2;
    margin-top: -30px;
    padding-left: 20px;
