.testimonial
    font-size 0
    padding-left 0
    padding-right 0
    margin-bottom 30px

.testimonial__btn-like
    border none
    cursor pointer
    margin-right 25px


.testimonial__container
    font-size 0

.testimonial__item-img
    margin-bottom: 16px
    img
        display inline-block
        vertical-align top

.testimonial__item-img
    position relative
    display inline-block
    vertical-align top
    outline none

.testimonial__item
    position relative
    margin-bottom 11px
    display inline-block
    width 356px
    vertical-align top
    font-size 17px
    line-height 21px
    &._type_horizontal
        width 31.111111111111%
    &:not(:nth-of-type(3n))
        margin-right 65px

.testimonial-items
    font-size 0

.testimonial__see-all
    text-align right

.testimonial__btn-see-all
    display inline-block
    vertical-align top
    min-width 165px
    text-align center
    font-size 19px
    font-family 'MyriadPro-Cond', sans-serif
    line-height 1.5
    margin-top 5px
    padding 4px 45px 3px 17px
    border-radius 0
    position relative
    &:after
        content ""
        display inline-block
        height 17px
        width 23px
        sprite($s-btn-arrow-small)
        position absolute
        top 9px
        right 16px

.testimonial__content
    font-size 19px
    font-family 'MyriadPro-Cond', sans-serif
    line-height 1.2

.testimonial__author-name
    font-size 19px
    font-family 'MyriadPro-Cond', sans-serif
    font-weight: bold;
    text-transform uppercase
    margin-top -2px
